<domain xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <lookup>{{ lookup|default("false") }}</lookup>
    <name>{{ domain }}</name>
</domain>